@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: Kurland;
    src: url(assets/fonts/Kurland_Font_0_30/Kurland.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kurland;
}

body {
    height: 100vh;
    width: 100%;
    background-color: rgb(31, 30, 30);
    overflow: hidden;
}



/* SHOW AND HIDE CLASSES */
.screen01.show {
    opacity: 1;
    pointer-events: auto;
    display: block;
}
.screen02.show {
    opacity: 1;
    pointer-events: auto;
    display: block;
}
.screen03.show {
    opacity: 1;
    pointer-events: auto;
    display: block;
}
.screen04.show {
    opacity: 1;
    pointer-events: auto;
}

.screen01.hide {
    opacity: 0;
    pointer-events: none;
    display: none;
}
.screen02.hide {
    opacity: 0;
    pointer-events: none;
    display: none;
}
.screen03.hide {
    opacity: 0;
    pointer-events: none;
    display: none;
}
.screen04.hide {
    opacity: 0;
    pointer-events: none;
}




/* SCREEN 01 */
.screen01 {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.screen01 button{
    font-size: 65px;
    height: 150px;
    width: 400px;
    padding: 100px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    color: white;
    padding: 20px;
    font-family: Kurland;
    border: none;
    -webkit-text-stroke: 2px rgba(35, 207, 219, 0.5);
    transition: 1s;
    /* transition: 1s; */
}

.screen01 button:hover {
    -webkit-text-stroke: 10px rgba(35, 207, 219, 0.5);
}

.screen01 button span{
    position: absolute;
    opacity: 0;
    box-shadow: 0 0 5px 1px rgba(35, 207, 219, 0.5);
    padding: 3px;
}

.screen01 button span:first-of-type{
    top: 0;
    left: 0;
    border: 2px solid rgba(35, 207, 219, 0.5);
}
.screen01 button span:nth-of-type(2){
    top: 0;
    right: 0;
    border: 2px solid rgba(35, 207, 219, 0.5);
}
.screen01 button span:nth-of-type(3){
    bottom: 0;
    right: 0;
    border: 2px solid rgba(35, 207, 219, 0.5);
}
.screen01 button span:nth-of-type(4){
    bottom: 0;
    left: 0;
    border: 2px solid rgba(35, 207, 219, 0.5);
}


.screen01 button:hover span:first-of-type{
    animation: top-border .2s linear forwards;
}
.screen01 button:hover span:nth-of-type(2){
    animation: right-border .2s linear forwards;
}
.screen01 button:hover span:nth-of-type(3){
    animation: bottom-border .2s linear forwards;
}
.screen01 button:hover span:nth-of-type(4){
    animation: left-border .2s linear forwards;
}

@keyframes top-border {
    0% {
        width: 0;
        opacity: 0;
    }
    25%, 50%, 75%, 100% {
        width: 92%;
        opacity: 1;
    }
}
@keyframes right-border {
    0%, 25% {
        height: 0;
        opacity: 0;
    }
    50%, 75%, 100% {
        height: 75%;
        opacity: 1;
    }
}
@keyframes bottom-border {
    0%, 25%, 50% {
        width: 0;
        opacity: 0;
    }
    75%, 100% {
        width: 92%;
        opacity: 1;
    }
}
@keyframes left-border {
    0%, 25%, 50%, 75% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 75%;
        opacity: 1;
    }
}



.screen01 button:not(:hover) span:first-of-type{
    animation: top-border-unhover .5s linear;
}
.screen01 button:not(:hover) span:nth-of-type(2){
    animation: right-border-unhover .5s linear;
}
.screen01 button:not(:hover) span:nth-of-type(3){
    animation: bottom-border-unhover .5s linear;
}
.screen01 button:not(:hover) span:nth-of-type(4){
    animation: left-border-unhover .5s linear;
}

@keyframes top-border-unhover {
    0%, 25%, 50%, 75% {
        width: 92%;
        opacity: 1;
    }
     100% {
        width: 0;
        opacity: 0;
    }
}
@keyframes right-border-unhover {
    0%, 25%, 50% {
        height: 75%;
        opacity: 1;
    }
     75%, 100% {
        height: 0;
        opacity: 0;
    }
}
@keyframes bottom-border-unhover {
    0%, 25% {
        width: 92%;
        opacity: 1;
    }
    50%, 75%, 100% {
        width: 0;
        opacity: 0;
    }
}
@keyframes left-border-unhover {
    0% {
        height: 75%;
        opacity: 1;
    }
    25%, 50%, 75%, 100% {
        height: 0;
        opacity: 0;
    }
}








/* SCREEN 02 */

#screen02-button-continue.show {
    display: block;
}
#screen02-button-continue.hide {
    display: none;
}

.screen02 {
    width: 100%;
    height: 100vh;
    position: relative;
}
.screen02 button{
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: fade-in 1s;
    background: transparent;
    border: none;
    color: white;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.screen02 .header {
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 20px;
}

.screen02 .character-selection-wrapper {
    display: flex;
}
.screen02 .character-selection-wrapper .selection-wrapper{
    width: 50%;
}
.screen02 .character-selection-wrapper .selection-wrapper h4{
    text-align: center;
    color: white;
    font-size: 18px;
}
.screen02 .selection-wrapper .characters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding-top: 50px;
}
.screen02 .selection-wrapper .characters .character{
    width: 120px;
    height: 110px;
}
.screen02 .selection-wrapper .characters .character img{
    width: 100%;
    height: 100%;
}


.character-icon:checked + img{
    border: 2px solid white;
}

.player01-character-selected, .player02-character-selected {
    margin-top: 50px;
}









/* SCREEN 03 */
.screen03 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.screen03 .scene-header{
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 20px;
}

.screen03 .scenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-row-gap: 50px;
    width: 100%;
}
.screen03 .scenes .scene{
    width: 300px;
    height: 200px;
}
.screen03 .scenes .scene img{
    width: 100%;
    height: 100%;
}

.scene-icon:checked + img{
    border: 2px solid white;
}

#screen03-button-continue.show {
    display: block;
}
#screen03-button-continue.hide {
    display: none;
}
.screen03 button{
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: fade-in 1s;
    background: transparent;
    border: none;
    color: white;
}





/* SCREEN 04 */
.screen04 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.screen04.set-background {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.screen04-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
}

.top {
    display: flex;
    height: 50px;
    padding: 20px;
    justify-content: space-evenly;
    gap: 50px;
}
.player-hp {
    width: 100%;
    height: 50px;
    border: 1px solid white;
    box-shadow: 10px 0 10px black;
}

.player02-hp-bar {
    transform: scale(-1);
}

.player-hp .player01-current-hp,
.player02-current-hp{
    width: 100%;
    height: 100%;
    background-color: green;
    transition: .5s ease-in-out;
}

.pause-button {
    position: relative;
}

#screen04-button-pause {
    background-color: transparent;
    border: 1px solid white;
    padding: 20px;
    cursor: pointer;
}
#screen04-button-pause:hover {
    background-color: rgba(255,255,255,.5);
    color: black;
}

.fa-pause {
    font-size: 50px;
    color: white;
}

.timer {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    padding: 5px;
    color: red;
    background-color: rgba(255,255,255,.4);
    font-weight: bolder;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/* .fighting-ground {
    width: 100%;
    height: 100vh;
} */


/* 
#player01, #player02 {
    position: absolute;
    bottom: 40px;
    height: 200px;
    width: 120px;
}

#player01 {
    left: 100px;
}
#player02 {
    right: 100px;
}

#player01-hit-box {
    width: 200px;
    height: 130px;
    background-color: red;
}
#player02-hit-box {
    position: absolute;
    width: 200px;
    height: 130px;
    background-color: blue;
} */

.player-wrapper {
    position: absolute;
    bottom: 20px;
    height: 350px;
    width: 200px;
}

.player01-wrapper {
    left: 100px;
}

.player02-wrapper {
    right: 100px;
    transform: scaleX(-1);
}

#player01, #player02 {
    width: 50%;
    height: 100%;
}

#player01 {
    background-color: red;
}
#player02 {
    background-color: blue;
}

#player01-attack-box {
    background-color: white;
    width: 130px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 0;
    display: none;
}

#player02-attack-box {
    background-color: white;
    width: 130px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 0;
    display: none;
}

#player01-attack-box.attack {
    display: block;
}
#player02-attack-box.attack {
    display: block;
}

#player01.isHit {
    background-color: white;
}
#player02.isHit {
    background-color: white;
}

.player01-wrapper.jump {
    animation: .5s jump ease-in-out;
}
.player02-wrapper.jump {
    animation: .5s jump ease-in-out;
}



.pause-menu.show {
    opacity: 1;
    pointer-events: auto;
}

.pause-menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    pointer-events: none;
}

.pause-menu button {
    width: 350px;
    padding: 20px;
    /* background-color: rgba(255,255,255,.5); */
    background: rgb(254,254,255);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,.8) 50%, rgba(0,0,0,0) 100%);
    font-size: 23px;
    color: black;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20px;
}

.pause-menu button:hover {
    transform: scale(1.1);
}


@keyframes jump {
    0% {
        bottom: 40px;
    }
    50% {
        bottom: 400px;
    }
    100% {
        bottom: 40px;
    }
}

.game-over, .player-name-winner, .fight-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgba(255,255,255,.7);
    pointer-events: none;
    opacity: 0;
}


.game-over.fade {
    animation: fade-in-out-1 3s forwards ease-in-out;
}

.player-name-winner.fade {
    animation: fade-in-out-2 2s forwards ease-in-out;
}

.fight-text.fade {
    animation: fade-in-out-1 4s forwards ease-in-out;
}

@keyframes fade-in-out-1 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}
@keyframes fade-in-out-2 {
    0%, 50% {
        opacity: 0;
    }
    75%, 100% {
        opacity: 1;
    }
}